In [1]:
import os
import pandas as pd

In [2]:
os.getcwd()

'/Users/cyriljeanneau/Documents/02. Professionnel/00. Formation Dev IA/Projets/certificationB1/notebooks'

In [75]:
filename = "ValeursFoncieres-2024.txt"
file_path = os.path.join(os.getcwd(), "..", "data", "01_DVF", filename)

In [81]:
# On charge le fichier dans un dataframe pandas
df_ori = pd.read_csv(file_path, sep='|', dtype=str)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3458643 entries, 0 to 3458642
Data columns (total 20 columns):
 #   Column                     Dtype
---  ------                     -----
 0   Date mutation              object
 1   Nature mutation            object
 2   Valeur fonciere            float32
 3   No voie                    Int16
 4   B/T/Q                      object
 5   Type de voie               object
 6   Code voie                  object
 7   Voie                       object
 8   Code postal                object
 9   Commune                    object
 10  Code departement           object
 11  Code commune               object
 12  Prefixe de section         object
 13  Section                    object
 14  No plan                    Int16
 15  Code type local            Int8
 16  Type local                 object
 17  Surface reelle bati        Int16
 18  Nombre pieces principales  Int8
 19  Surface terrain            Int32
dtypes: Int16(3), Int32(1), Int8(2), float32(1), object(13)
memory usage: 415.6+ MB

In [5]:
# On affiche les 5 premières lignes pour vérifier que tout s'est bien déroulé 
pd.set_option('display.max_columns', 50)
df_ori.head(5)

,Identifiant de document,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,Valeur fonciere,No voie,B/T/Q,Type de voie,Code voie,Voie,Code postal,Commune,Code departement,Code commune,Prefixe de section,Section,No plan,No Volume,1er lot,Surface Carrez du 1er lot,2eme lot,Surface Carrez du 2eme lot,3eme lot,Surface Carrez du 3eme lot,4eme lot,Surface Carrez du 4eme lot,5eme lot,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,000001,02/01/2024,Vente,"346,50",NaN,NaN,NaN,B020,LE DELIVRE,1230,CHALEY,01,76,NaN,B,514,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,P,NaN,99
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,000002,03/01/2024,Vente,"10000,00",NaN,NaN,NaN,B007,CHEVRY DESSOUS,1170,CHEVRY,01,103,NaN,B,1782,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,S,NaN,115
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,000001,08/01/2024,Vente,"249000,00",NaN,NaN,NaN,B086,PIN HAMEAU,1290,LAIZ,01,203,NaN,C,1065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,S,NaN,497
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,000001,03/01/2024,Vente,"329500,00",9001,NaN,PL,0500,DU JURA,1170,GEX,01,173,NaN,AI,551,NaN,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,3,Dépendance,NaN,0,0,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,000001,03/01/2024,Vente,"329500,00",29,NaN,PL,0500,DU JURA,1170,GEX,01,173,NaN,AI,551,NaN,175,NaN,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,3,Dépendance,NaN,0,0,NaN,NaN,NaN

In [6]:
# Quelques infos générales dont la taille 
df_ori.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3458643 entries, 0 to 3458642
Data columns (total 43 columns):
 #   Column                      Dtype
---  ------                      -----
 0   Identifiant de document     object
 1   Reference document          object
 2   1 Articles CGI              object
 3   2 Articles CGI              object
 4   3 Articles CGI              object
 5   4 Articles CGI              object
 6   5 Articles CGI              object
 7   No disposition              object
 8   Date mutation               object
 9   Nature mutation             object
 10  Valeur fonciere             object
 11  No voie                     object
 12  B/T/Q                       object
 13  Type de voie                object
 14  Code voie                   object
 15  Voie                        object
 16  Code postal                 object
 17  Commune                     object
 18  Code departement            object
 19  Code commune                object
 20  Prefixe de section          object
 21  Section                     object
 22  No plan                     object
 23  No Volume                   object
 24  1er lot                     object
 25  Surface Carrez du 1er lot   object
 26  2eme lot                    object
 27  Surface Carrez du 2eme lot  object
 28  3eme lot                    object
 29  Surface Carrez du 3eme lot  object
 30  4eme lot                    object
 31  Surface Carrez du 4eme lot  object
 32  5eme lot                    object
 33  Surface Carrez du 5eme lot  object
 34  Nombre de lots              object
 35  Code type local             object
 36  Type local                  object
 37  Identifiant local           object
 38  Surface reelle bati         object
 39  Nombre pieces principales   object
 40  Nature culture              object
 41  Nature culture speciale     object
 42  Surface terrain             object
dtypes: object(43)
memory usage: 1.1+ GB

In [7]:
# Quelques statistiques
df_ori.describe()

,Identifiant de document,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,Valeur fonciere,No voie,B/T/Q,Type de voie,Code voie,Voie,Code postal,Commune,Code departement,Code commune,Prefixe de section,Section,No plan,No Volume,1er lot,Surface Carrez du 1er lot,2eme lot,Surface Carrez du 2eme lot,3eme lot,Surface Carrez du 3eme lot,4eme lot,Surface Carrez du 4eme lot,5eme lot,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
count,0,0,0,0,0,0,0,3458643,3458643,3458643,3422092,2140185,150293,2069558,3433902,3433871,3433555,3458643,3458643,3458643,169259,3458548,3458643,7997,1049956,304395,317639,98497,55336,11004,17374,2528,7036,755,3458643,1980561,1980561,0,1978276,1978276,2391323,156426,2391323
unique,0,0,0,0,0,0,0,311,362,6,137459,7150,38,137,16025,437308,5863,30783,97,908,752,582,6492,458,8258,16975,3815,11262,1168,3826,671,1086,478,385,74,4,4,0,4212,44,27,129,46772
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,000001,20/12/2024,Vente,"1,00",1,B,RUE,0020,LE VILLAGE,93170,TOULOUSE,59,88,828,A,1,2,1,"12,50",4,"50,00",7,"10,00",9,"10,00",9,"26,89",0,3,Dépendance,NaN,0,0,S,POTAG,500
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3264327,43736,3223572,31434,98372,87214,1152290,17758,28119,8919,22564,94445,27580,2161,262933,15133,1735,36034,1193,8847,88,2633,22,1211,18,535,12,2408687,881464,881464,NaN,885951,987637,1162600,32288,53535

In [8]:
# On élimine les colonnes totalement vides
df = df_ori.dropna(axis=1, how='all')
df.shape

(3458643, 35)

In [9]:
df.describe()

,No disposition,Date mutation,Nature mutation,Valeur fonciere,No voie,B/T/Q,Type de voie,Code voie,Voie,Code postal,Commune,Code departement,Code commune,Prefixe de section,Section,No plan,No Volume,1er lot,Surface Carrez du 1er lot,2eme lot,Surface Carrez du 2eme lot,3eme lot,Surface Carrez du 3eme lot,4eme lot,Surface Carrez du 4eme lot,5eme lot,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
count,3458643,3458643,3458643,3422092,2140185,150293,2069558,3433902,3433871,3433555,3458643,3458643,3458643,169259,3458548,3458643,7997,1049956,304395,317639,98497,55336,11004,17374,2528,7036,755,3458643,1980561,1980561,1978276,1978276,2391323,156426,2391323
unique,311,362,6,137459,7150,38,137,16025,437308,5863,30783,97,908,752,582,6492,458,8258,16975,3815,11262,1168,3826,671,1086,478,385,74,4,4,4212,44,27,129,46772
top,000001,20/12/2024,Vente,"1,00",1,B,RUE,0020,LE VILLAGE,93170,TOULOUSE,59,88,828,A,1,2,1,"12,50",4,"50,00",7,"10,00",9,"10,00",9,"26,89",0,3,Dépendance,0,0,S,POTAG,500
freq,3264327,43736,3223572,31434,98372,87214,1152290,17758,28119,8919,22564,94445,27580,2161,262933,15133,1735,36034,1193,8847,88,2633,22,1211,18,535,12,2408687,881464,881464,885951,987637,1162600,32288,53535

In [10]:
df.nunique()

No disposition                   311
Date mutation                    362
Nature mutation                    6
Valeur fonciere               137459
No voie                         7150
B/T/Q                             38
Type de voie                     137
Code voie                      16025
Voie                          437308
Code postal                     5863
Commune                        30783
Code departement                  97
Code commune                     908
Prefixe de section               752
Section                          582
No plan                         6492
No Volume                        458
1er lot                         8258
Surface Carrez du 1er lot      16975
2eme lot                        3815
Surface Carrez du 2eme lot     11262
3eme lot                        1168
Surface Carrez du 3eme lot      3826
4eme lot                         671
Surface Carrez du 4eme lot      1086
5eme lot                         478
Surface Carrez du 5eme lot       385
Nombre de lots                    74
Code type local                    4
Type local                         4
Surface reelle bati             4212
Nombre pieces principales         44
Nature culture                    27
Nature culture speciale          129
Surface terrain                46772
dtype: int64

In [11]:
df['Nature mutation'].unique()

array(['Vente', "Vente en l'état futur d'achèvement",
       'Vente terrain à bâtir', 'Echange', 'Adjudication',
       'Expropriation'], dtype=object)

In [12]:
df[df['Nature mutation'] == 'Echange']

,No disposition,Date mutation,Nature mutation,Valeur fonciere,No voie,B/T/Q,Type de voie,Code voie,Voie,Code postal,Commune,Code departement,Code commune,Prefixe de section,Section,No plan,No Volume,1er lot,Surface Carrez du 1er lot,2eme lot,Surface Carrez du 2eme lot,3eme lot,Surface Carrez du 3eme lot,4eme lot,Surface Carrez du 4eme lot,5eme lot,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
416,000002,04/01/2024,Echange,"100,00",NaN,NaN,AV,0480,PAUL PAINLEVE,1500,AMBERIEU-EN-BUGEY,01,4,NaN,AN,541,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,S,NaN,5
417,000002,04/01/2024,Echange,"100,00",NaN,NaN,AV,0480,PAUL PAINLEVE,1500,AMBERIEU-EN-BUGEY,01,4,NaN,AN,542,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,S,NaN,59
418,000003,04/01/2024,Echange,"100,00",NaN,NaN,AV,0480,PAUL PAINLEVE,1500,AMBERIEU-EN-BUGEY,01,4,NaN,AN,539,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,S,NaN,21
807,000002,10/01/2024,Echange,"625,00",NaN,NaN,RUE,0028,DU CHAZAL,1100,APREMONT,01,11,NaN,A,1158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,S,NaN,23
808,000003,10/01/2024,Echange,"625,00",8,NaN,RUE,0028,DU CHAZAL,1100,APREMONT,01,11,NaN,A,1157,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,S,NaN,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3458294,000002,23/12/2024,Echange,"680000,00",84,NaN,RUE,9679,VERGNIAUD,75013,PARIS 13,75,113,NaN,DK,8,NaN,7,NaN,96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,3,Dépendance,0,0,NaN,NaN,NaN
3458295,000002,23/12/2024,Echange,"680000,00",84,NaN,RUE,9679,VERGNIAUD,75013,PARIS 13,75,113,NaN,DK,8,NaN,194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,3,Dépendance,0,0,NaN,NaN,NaN
3458388,000001,26/12/2024,Echange,"170000,00",7,B,AV,6405,MOLIERE,75016,PARIS 16,75,116,NaN,AP,65,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,3,Dépendance,0,0,NaN,NaN,NaN
3458389,000001,26/12/2024,Echange,"170000,00",7,B,AV,6405,MOLIERE,75016,PARIS 16,75,116,NaN,AP,65,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2,Appartement,150,4,NaN,NaN,NaN
3458390,000001,26/12/2024,Echange,"170000,00",7,B,AV,6405,MOLIERE,75016,PARIS 16,75,116,NaN,AP,65,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,3,Dépendance,0,0,NaN,NaN,NaN

In [13]:
# Les échanges ne nous intéressent pas ici
print(f"Nb lignes avant nettoyage : {df.shape}")
df2 = df[df['Nature mutation'] != 'Echange']
print(f"Nb lignes après nettoyage : {df2.shape}")

Nb lignes avant nettoyage : (3458643, 35)
Nb lignes avant nettoyage : (3410882, 35)

In [14]:
df_with_No_Volume = df2[df2['No Volume'].notna()]
df_with_No_Volume.describe()

,No disposition,Date mutation,Nature mutation,Valeur fonciere,No voie,B/T/Q,Type de voie,Code voie,Voie,Code postal,Commune,Code departement,Code commune,Prefixe de section,Section,No plan,No Volume,1er lot,Surface Carrez du 1er lot,2eme lot,Surface Carrez du 2eme lot,3eme lot,Surface Carrez du 3eme lot,4eme lot,Surface Carrez du 4eme lot,5eme lot,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
count,7877,7877,7877,7679,4447,374,5217,6722,6722,6721,7877,7877,7877,556,7877,7877,7877,0,0,0,0,0,0,0,0,0,0,7877,0,0,0,0,0,0,0
unique,34,279,5,1992,380,13,52,1539,2432,1597,1991,96,592,96,303,1321,455,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
top,000001,18/01/2024,Vente,"1,00",1,B,RUE,H538,HAMEAU RAUX -ST OUEN BCES,14350,NANTES,59,109,636,AB,6,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,7413,191,7270,381,235,208,3117,174,174,174,274,506,281,174,390,188,1719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7877,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
# On remarque ici que les lignes contenant un No Volume non vide n'ont aucune surface précisée (construite ou terrain).
# Elles ne nous servent donc à rien 
print(f"Nb lignes avant nettoyage : {df2.shape}")
df3 = df2[df2['No Volume'].isna()]
print(f"Nb lignes après nettoyage : {df3.shape}")
# Puis on efface cette colonne qui ne contient plus que des Nan
df4 = df3.drop('No Volume', axis=1)
print(f"Nb lignes après nettoyage : {df4.shape}")

Nb lignes avant nettoyage : (3410882, 35)
Nb lignes après nettoyage : (3403005, 35)
Nb lignes après nettoyage : (3403005, 34)

In [16]:
df4.describe()

,No disposition,Date mutation,Nature mutation,Valeur fonciere,No voie,B/T/Q,Type de voie,Code voie,Voie,Code postal,Commune,Code departement,Code commune,Prefixe de section,Section,No plan,1er lot,Surface Carrez du 1er lot,2eme lot,Surface Carrez du 2eme lot,3eme lot,Surface Carrez du 3eme lot,4eme lot,Surface Carrez du 4eme lot,5eme lot,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
count,3403005,3403005,3403005,3370332,2127609,149265,2055612,3379460,3379429,3379118,3403005,3403005,3403005,164754,3402910,3403005,1046583,304345,317137,98483,55205,11003,17315,2528,7010,755,3403005,1974176,1974176,1971900,1971900,2347242,152519,2347242
unique,163,361,5,135513,7138,38,137,15967,430899,5863,30735,97,908,751,582,6446,8251,16974,3811,11261,1164,3825,668,1086,476,385,74,4,4,4204,44,27,129,46326
top,000001,20/12/2024,Vente,"1,00",1,B,RUE,0020,LE VILLAGE,93170,TOULOUSE,59,88,828,A,1,1,"12,50",4,"50,00",7,"10,00",9,"10,00",9,"26,89",0,3,Dépendance,0,0,S,POTAG,500
freq,3240728,43244,3216302,30040,97767,86684,1144058,17667,27602,8895,22336,93224,27373,2160,255025,14964,35954,1193,8827,88,2626,22,1211,18,535,12,2356422,878158,878158,882606,983881,1154037,32038,53353

In [17]:
# on va sélectionner les colonnes à garder puisque des colonnes comme lot et surface carrez ne nous interesse pas, 
# Nombre de lots semble êter renseigné aléatoirement.
# On pourra reconstruire l'adresse = 'No voie' + 'B/T/Q' + 'Type de voie' + 'Voie' + 'Code postal' + 'Commune'
# On pourra reconstruire le code insee commune = 'Code departement' +'Code commune'
# On pourra reconstruire la référence cadastrale = 'Prefixe de section' + 'Section' +'No plan'
# On garde les Nature de culture pour le moment car elle différencie les types de de terrain lors d'une même vente.

col_to_keep = [
    'Date mutation',
    'Nature mutation',
    'Valeur fonciere',
    'No voie',
    'B/T/Q',
    'Type de voie',
    'Code voie',
    'Voie',
    'Code postal',
    'Commune',
    'Code departement',
    'Code commune',
    'Prefixe de section',
    'Section',
    'No plan',
    'Code type local', 
    'Type local', 
    'Surface reelle bati', 
    'Nombre pieces principales',
    'Nature culture',
    'Nature culture speciale',
    'Surface terrain'
    ]
df5 = df4[col_to_keep]
df5.describe()

,Date mutation,Nature mutation,Valeur fonciere,No voie,B/T/Q,Type de voie,Code voie,Voie,Code postal,Commune,Code departement,Code commune,Prefixe de section,Section,No plan,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
count,3403005,3403005,3370332,2127609,149265,2055612,3379460,3379429,3379118,3403005,3403005,3403005,164754,3402910,3403005,1974176,1974176,1971900,1971900,2347242,152519,2347242
unique,361,5,135513,7138,38,137,15967,430899,5863,30735,97,908,751,582,6446,4,4,4204,44,27,129,46326
top,20/12/2024,Vente,"1,00",1,B,RUE,0020,LE VILLAGE,93170,TOULOUSE,59,88,828,A,1,3,Dépendance,0,0,S,POTAG,500
freq,43244,3216302,30040,97767,86684,1144058,17667,27602,8895,22336,93224,27373,2160,255025,14964,878158,878158,882606,983881,1154037,32038,53353

In [18]:
# On va aussi supprimer less lignes dont la valeur foncière est Nan
df6 = df5[df5['Valeur fonciere'].notna()]
df6.describe()

,Date mutation,Nature mutation,Valeur fonciere,No voie,B/T/Q,Type de voie,Code voie,Voie,Code postal,Commune,Code departement,Code commune,Prefixe de section,Section,No plan,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
count,3370332,3370332,3370332,2116571,148166,2042377,3346787,3346756,3346458,3370332,3370332,3370332,160992,3370237,3370332,1964692,1964692,1962653,1962653,2315540,148179,2315540
unique,361,5,135513,7127,38,137,15943,427510,5863,30728,97,908,751,582,6442,4,4,4126,44,27,128,46048
top,20/12/2024,Vente,"1,00",1,B,RUE,0020,LE VILLAGE,93170,TOULOUSE,59,88,828,A,1,3,Dépendance,0,0,S,POTAG,500
freq,43136,3184995,30040,96960,86320,1136237,17586,27463,8895,22314,91863,27320,2155,252425,14813,874913,874913,878975,978684,1138382,31785,53237

In [19]:
# on élimine les +30000 lignes avec des valeurs foncières = 1,00 
df7 = df6[df6['Valeur fonciere'] != '1,00']
df7.describe()

,Date mutation,Nature mutation,Valeur fonciere,No voie,B/T/Q,Type de voie,Code voie,Voie,Code postal,Commune,Code departement,Code commune,Prefixe de section,Section,No plan,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
count,3340292,3340292,3340292,2107148,147392,2029395,3316748,3316717,3316421,3340292,3340292,3340292,160061,3340199,3340292,1958427,1958427,1956501,1956501,2287219,146031,2287219
unique,360,5,135512,7114,38,136,15912,424696,5862,30716,97,908,751,582,6425,4,4,4037,44,27,128,45996
top,20/12/2024,Vente,"150000,00",1,B,RUE,0020,LE VILLAGE,93170,TOULOUSE,59,88,828,A,1,3,Dépendance,0,0,S,POTAG,500
freq,42670,3155057,27812,96307,85971,1128601,17495,26992,8887,22160,90376,27150,2155,250265,14773,872445,872445,876203,974684,1122671,31625,53197

In [20]:
df7.loc[:, 'Valeur fonciere'] = df7['Valeur fonciere'].str.replace(',', '.', regex=False).astype(float)

In [21]:
df7.head()

,Date mutation,Nature mutation,Valeur fonciere,No voie,B/T/Q,Type de voie,Code voie,Voie,Code postal,Commune,Code departement,Code commune,Prefixe de section,Section,No plan,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,02/01/2024,Vente,346.5,NaN,NaN,NaN,B020,LE DELIVRE,1230,CHALEY,01,76,NaN,B,514,NaN,NaN,NaN,NaN,P,NaN,99
1,03/01/2024,Vente,10000.0,NaN,NaN,NaN,B007,CHEVRY DESSOUS,1170,CHEVRY,01,103,NaN,B,1782,NaN,NaN,NaN,NaN,S,NaN,115
2,08/01/2024,Vente,249000.0,NaN,NaN,NaN,B086,PIN HAMEAU,1290,LAIZ,01,203,NaN,C,1065,NaN,NaN,NaN,NaN,S,NaN,497
3,03/01/2024,Vente,329500.0,9001,NaN,PL,0500,DU JURA,1170,GEX,01,173,NaN,AI,551,3,Dépendance,0,0,NaN,NaN,NaN
4,03/01/2024,Vente,329500.0,29,NaN,PL,0500,DU JURA,1170,GEX,01,173,NaN,AI,551,3,Dépendance,0,0,NaN,NaN,NaN

In [22]:
print(f"\nNombre de lignes en double avant suppression : {df7.duplicated().sum()}")

# Supprimer les doublons (conserver la première occurrence)
df8 = df7.drop_duplicates()

print(f"Nombre de lignes en double après suppression : {df8.duplicated().sum()}")
print(f"Nombre de lignes après suppression des doublons : {df8.shape[0]}")

Nombre de lignes en double avant suppression : 475697
Nombre de lignes en double après suppression : 0
Nombre de lignes après suppression des doublons : 2864595

In [23]:
df8.head()

,Date mutation,Nature mutation,Valeur fonciere,No voie,B/T/Q,Type de voie,Code voie,Voie,Code postal,Commune,Code departement,Code commune,Prefixe de section,Section,No plan,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,02/01/2024,Vente,346.5,NaN,NaN,NaN,B020,LE DELIVRE,1230,CHALEY,01,76,NaN,B,514,NaN,NaN,NaN,NaN,P,NaN,99
1,03/01/2024,Vente,10000.0,NaN,NaN,NaN,B007,CHEVRY DESSOUS,1170,CHEVRY,01,103,NaN,B,1782,NaN,NaN,NaN,NaN,S,NaN,115
2,08/01/2024,Vente,249000.0,NaN,NaN,NaN,B086,PIN HAMEAU,1290,LAIZ,01,203,NaN,C,1065,NaN,NaN,NaN,NaN,S,NaN,497
3,03/01/2024,Vente,329500.0,9001,NaN,PL,0500,DU JURA,1170,GEX,01,173,NaN,AI,551,3,Dépendance,0,0,NaN,NaN,NaN
4,03/01/2024,Vente,329500.0,29,NaN,PL,0500,DU JURA,1170,GEX,01,173,NaN,AI,551,3,Dépendance,0,0,NaN,NaN,NaN

In [24]:
#Petit ménage dû à quelques ralentissements
## J'aurais dû optimiser mes typs de données dès le début !
%whos

Variable            Type         Data/Info
------------------------------------------
col_to_keep         list         n=22
df                  DataFrame            No disposition Da<...>458643 rows x 35 columns]
df2                 DataFrame            No disposition Da<...>410882 rows x 35 columns]
df3                 DataFrame            No disposition Da<...>403005 rows x 35 columns]
df4                 DataFrame            No disposition Da<...>403005 rows x 34 columns]
df5                 DataFrame            Date mutation Nat<...>403005 rows x 22 columns]
df6                 DataFrame            Date mutation Nat<...>370332 rows x 22 columns]
df7                 DataFrame            Date mutation Nat<...>340292 rows x 22 columns]
df8                 DataFrame            Date mutation Nat<...>864595 rows x 22 columns]
df_ori              DataFrame            Identifiant de do<...>458643 rows x 43 columns]
df_with_No_Volume   DataFrame            No disposition Da<...>n[7877 rows x 35 columns]
file_path           str          /Users/cyriljeanneau/Docu<...>ValeursFoncieres-2024.txt
filename            str          ValeursFoncieres-2024.txt
os                  module       <module 'os' (frozen)>
pd                  module       <module 'pandas' from '/U<...>ages/pandas/__init__.py'>

In [25]:
del df, df2, df3, df4, df5, df6, df_with_No_Volume
import gc
gc.collect()

14

In [26]:
# On va remplacer les valeurs Nan de 'Surface reelle bati' et 'Surface terrain' par '0'

print("Nombre de NaN dans 'Surface reelle bati' avant :", df8['Surface reelle bati'].isnull().sum())
print("Nombre de NaN dans 'Surface terrain' avant    :", df8['Surface terrain'].isnull().sum())

df8.loc[:, 'Surface reelle bati'] = df8['Surface reelle bati'].fillna('0')
df8.loc[:, 'Surface terrain'] = df8['Surface terrain'].fillna('0')

print("\nNombre de NaN dans 'Surface reelle bati' après :", df8['Surface reelle bati'].isnull().sum())
print("Nombre de NaN dans 'Surface terrain' après    :", df8['Surface terrain'].isnull().sum())

Nombre de NaN dans 'Surface reelle bati' avant : 1271261
Nombre de NaN dans 'Surface terrain' avant    : 785072

Nombre de NaN dans 'Surface reelle bati' après : 0
Nombre de NaN dans 'Surface terrain' après    : 0

In [27]:
# et maintenant on supprime les lignes dont les 2 variables de surface (terrain et bati) sont nulles
filtre = ((df8['Surface reelle bati'] == '0') & (df8['Surface terrain'] == '0'))
print("Nombre de lignes à effacer : ", filtre.sum())
print("Nombre de ligne du df avant nettoyage : ", len(df8))
df8 = df8[~filtre]
print("Nombre de ligne du df après nettoyage : ", len(df8))

Nombre de lignes à effacer :  389246
Nombre de ligne du df avant nettoyage :  2864595
Nombre de ligne du df après nettoyage :  2475349

In [28]:
pd.set_option('display.max_rows', 100)

In [29]:
filtre = ((df8['Surface reelle bati'] == '0') & (df8['Surface terrain'] != '0'))
print(filtre.sum())

1451145

In [30]:
# Nous alllons regrouper le stransaction par date et valeurs et créer pour chacun de ces couples un id_transaction
df8['Date mutation'] = pd.to_datetime(df8['Date mutation'], format='%d/%m/%Y', errors='coerce') # on s'assure que toutes les dates soient au même format pour le tri, c'est mieux !
df8_sorted = df8.sort_values(by=['Date mutation', 'Valeur fonciere', 'Code departement', 'Code commune']).reset_index(drop=True)
df8_sorted['id_transaction'] = df8_sorted.groupby(['Date mutation', 'Valeur fonciere', 'Code departement', 'Code commune', 'Code voie']).ngroup()
df8_sorted.loc[:,'id_transaction'] = df8_sorted['id_transaction'].fillna(0)
df8_sorted['id_transaction'] = df8_sorted['id_transaction'].astype(int)

In [31]:
df8_sorted[df8_sorted['Surface reelle bati'] != '0'].head(10)

,Date mutation,Nature mutation,Valeur fonciere,No voie,B/T/Q,Type de voie,Code voie,Voie,Code postal,Commune,Code departement,Code commune,Prefixe de section,Section,No plan,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain,id_transaction
55,2024-01-02,Vente,500.0,5113,NaN,NaN,B106,LE PIN,43230,FRUGIERES-LE-PIN,43,100,NaN,AL,272,1,Maison,70,2,S,NaN,115,48
85,2024-01-02,Vente,1666.0,209,NaN,RUE,0120,DES FORTS,88160,LE THILLOT,88,468,NaN,E,208,4,Local industriel. commercial ou assimilé,165,0,NaN,NaN,0,73
104,2024-01-02,Vente,2500.0,26,NaN,RUE,0330,DU DOC ROUX,3600,COMMENTRY,03,82,NaN,AE,281,1,Maison,28,2,S,NaN,60,86
176,2024-01-02,Vente,3334.0,209,NaN,RUE,0120,DES FORTS,88160,LE THILLOT,88,468,NaN,E,208,4,Local industriel. commercial ou assimilé,235,0,NaN,NaN,0,106
368,2024-01-02,Vente,25000.0,62,NaN,IMP,0032,MAUGUE SOURIS,61380,LA FERRIERE AU DOYEN,61,162,NaN,ZN,6,1,Maison,15,1,S,NaN,3360,195
369,2024-01-02,Vente,25000.0,559,NaN,RTE,0011,DE LA MAISON DAVET,61380,LA FERRIERE AU DOYEN,61,162,NaN,ZN,7,1,Maison,125,4,P,NaN,3222,194
371,2024-01-02,Vente,25000.0,559,NaN,RTE,0011,DE LA MAISON DAVET,61380,LA FERRIERE AU DOYEN,61,162,NaN,ZN,7,1,Maison,125,4,S,NaN,108,194
374,2024-01-02,Vente,25000.0,18,NaN,NaN,B038,CITE DES BRANDES,63700,SAINT ELOY LES MINES,63,338,NaN,AN,261,2,Appartement,40,2,NaN,NaN,0,196
375,2024-01-02,Vente,25000.0,32,NaN,RUE,0200,DE LA GRAVIERE,88350,LIFFOL-LE-GRAND,88,270,NaN,AD,636,1,Maison,96,3,S,NaN,422,197
381,2024-01-02,Vente,26580.0,12,NaN,RUE,2430,DE L HOSPICE,72200,LA FLECHE,72,154,NaN,AN,617,2,Appartement,52,2,NaN,NaN,0,200

In [32]:
# Filtre des id_transation des biens ayant une surface batie
id_surface_bati = df8_sorted[df8_sorted['Surface reelle bati'] != '0']['id_transaction']
print(id_surface_bati)

55              48
85              73
104             86
176            106
368            195
            ...
2475343    1367447
2475344    1367447
2475345    1367447
2475346    1367447
2475347    1367447
Name: id_transaction, Length: 1024204, dtype: int64

In [33]:
id_surface_bati_list = id_surface_bati.tolist()
transaction_avec_bati = df8_sorted[df8_sorted['id_transaction'].isin(id_surface_bati_list)].sort_values(by='id_transaction')
pd.set_option('display.max_rows', 100)
transaction_avec_bati[['id_transaction', 'Date mutation', 'Valeur fonciere', 'Code departement', 'Code commune', 'Code voie', 'Type local', 'Surface reelle bati', 'Surface terrain']].head(100)

,id_transaction,Date mutation,Valeur fonciere,Code departement,Code commune,Code voie,Type local,Surface reelle bati,Surface terrain
55,48,2024-01-02,500.0,43,100,B106,Maison,70,115
85,73,2024-01-02,1666.0,88,468,0120,Local industriel. commercial ou assimilé,165,0
103,86,2024-01-02,2500.0,03,82,0330,Dépendance,0,60
104,86,2024-01-02,2500.0,03,82,0330,Maison,28,60
176,106,2024-01-02,3334.0,88,468,0120,Local industriel. commercial ou assimilé,235,0
372,194,2024-01-02,25000.0,61,162,0011,Dépendance,0,108
370,194,2024-01-02,25000.0,61,162,0011,Dépendance,0,3222
371,194,2024-01-02,25000.0,61,162,0011,Maison,125,108
369,194,2024-01-02,25000.0,61,162,0011,Maison,125,3222
368,195,2024-01-02,25000.0,61,162,0032,Maison,15,3360
373,196,2024-01-02,25000.0,63,338,B038,NaN,0,41
374,196,2024-01-02,25000.0,63,338,B038,Appartement,40,0
375,197,2024-01-02,25000.0,88,270,0200,Maison,96,422
381,200,2024-01-02,26580.0,72,154,2430,Appartement,52,0
382,201,2024-01-02,27000.0,73,157,0270,Appartement,35,0
407,207,2024-01-02,30000.0,62,193,0070,Appartement,50,94
408,207,2024-01-02,30000.0,62,193,0070,NaN,0,16
405,207,2024-01-02,30000.0,62,193,0070,Appartement,28,94
406,207,2024-01-02,30000.0,62,193,0070,Appartement,22,94
403,207,2024-01-02,30000.0,62,193,0070,Dépendance,0,94
404,207,2024-01-02,30000.0,62,193,0070,Appartement,35,94
402,207,2024-01-02,30000.0,62,193,0070,Appartement,14,94
401,207,2024-01-02,30000.0,62,193,0070,Appartement,11,94
424,211,2024-01-02,31000.0,63,282,0047,Maison,20,0
434,218,2024-01-02,34500.0,88,321,0420,Maison,60,32
435,219,2024-01-02,35000.0,29,232,3830,NaN,0,51
436,219,2024-01-02,35000.0,29,232,3830,Appartement,25,0
443,221,2024-01-02,39000.0,31,199,0052,Maison,94,170
444,222,2024-01-02,40000.0,38,124,0670,Maison,35,337
447,225,2024-01-02,40000.0,66,136,1930,Appartement,21,0
448,226,2024-01-02,40000.0,86,165,1350,Dépendance,0,240
449,226,2024-01-02,40000.0,86,165,1350,Maison,390,240
462,233,2024-01-02,46500.0,36,95,B010,Maison,45,410
463,233,2024-01-02,46500.0,36,95,B010,NaN,0,368
469,236,2024-01-02,48000.0,34,199,0160,Appartement,29,0
471,238,2024-01-02,49400.0,81,4,0180,Appartement,22,0
472,239,2024-01-02,50000.0,04,5,0008,Maison,29,130
473,240,2024-01-02,50000.0,75,120,4853,Appartement,11,0
475,241,2024-01-02,50000.0,81,303,0010,NaN,0,30
476,241,2024-01-02,50000.0,81,303,0010,Maison,80,100
477,241,2024-01-02,50000.0,81,303,0010,Local industriel. commercial ou assimilé,100,100
478,243,2024-01-02,50000.0,89,387,2530,Appartement,65,0
479,244,2024-01-02,51000.0,59,289,0480,NaN,0,601
480,244,2024-01-02,51000.0,59,289,0480,NaN,0,34
481,244,2024-01-02,51000.0,59,289,0480,Maison,96,81
482,244,2024-01-02,51000.0,59,289,0480,Dépendance,0,81
534,262,2024-01-02,52000.0,45,228,0006,NaN,0,198
535,262,2024-01-02,52000.0,45,228,0006,NaN,0,261
536,262,2024-01-02,52000.0,45,228,0006,Maison,90,122
538,264,2024-01-02,52500.0,61,169,0560,Appartement,64,0
540,265,2024-01-02,55000.0,18,133,0649,Maison,56,286
539,265,2024-01-02,55000.0,18,133,0649,Dépendance,0,286
541,266,2024-01-02,55000.0,34,145,0380,Local industriel. commercial ou assimilé,55,0
544,268,2024-01-02,55000.0,50,129,2680,Appartement,80,160
545,268,2024-01-02,55000.0,50,129,2680,Appartement,30,160
546,268,2024-01-02,55000.0,50,129,2680,Dépendance,0,160
547,269,2024-01-02,55000.0,56,178,0620,Appartement,32,0
549,271,2024-01-02,55000.0,80,406,0395,NaN,0,523
552,271,2024-01-02,55000.0,80,406,0395,Maison,105,436
553,271,2024-01-02,55000.0,80,406,0395,Dépendance,0,436
554,273,2024-01-02,56000.0,59,378,0990,Appartement,15,0
555,274,2024-01-02,56310.0,15,14,2090,Appartement,58,0
560,277,2024-01-02,60000.0,47,1,3860,Local industriel. commercial ou assimilé,79,0
562,279,2024-01-02,61100.0,12,200,0050,Appartement,59,0
563,280,2024-01-02,61500.0,19,31,0115,Appartement,49,0
564,281,2024-01-02,62000.0,12,267,B213,Maison,89,257
577,284,2024-01-02,63000.0,79,301,B146,NaN,0,2820
578,284,2024-01-02,63000.0,79,301,B146,NaN,0,40
579,284,2024-01-02,63000.0,79,301,B146,Maison,75,4260
580,285,2024-01-02,63500.0,38,185,3880,Appartement,19,0
581,286,2024-01-02,63750.0,34,3,2165,Appartement,25,0
586,288,2024-01-02,64500.0,29,53,A319,Maison,108,883
587,288,2024-01-02,64500.0,29,53,A319,NaN,0,163
588,289,2024-01-02,67000.0,62,427,A034,Appartement,48,0
589,290,2024-01-02,67000.0,84,87,1310,Local industriel. commercial ou assimilé,32,0
592,292,2024-01-02,68875.0,50,502,2390,Appartement,95,0
593,293,2024-01-02,69000.0,63,381,0099,Dépendance,0,3250
594,293,2024-01-02,69000.0,63,381,0099,Maison,50,3250
595,293,2024-01-02,69000.0,63,381,0099,Dépendance,0,400
596,293,2024-01-02,69000.0,63,381,0099,Maison,50,400
597,294,2024-01-02,69579.0,76,540,1260,Appartement,21,0
599,296,2024-01-02,72000.0,58,12,B360,Maison,47,190
600,296,2024-01-02,72000.0,58,12,B360,NaN,0,1170
601,296,2024-01-02,72000.0,58,12,B360,NaN,0,555
602,297,2024-01-02,72050.0,05,119,0465,Appartement,26,0
603,298,2024-01-02,73000.0,03,317,B049,Maison,112,508
604,299,2024-01-02,75000.0,50,237,0440,Maison,90,100
605,300,2024-01-02,75800.0,2B,205,B016,Appartement,38,0
606,301,2024-01-02,77000.0,14,327,0130,Appartement,51,0
607,302,2024-01-02,78000.0,04,112,0200,Appartement,46,0
608,303,2024-01-02,78000.0,28,229,0035,Appartement,28,0
609,304,2024-01-02,78000.0,31,33,0142,Appartement,42,0
610,305,2024-01-02,79312.5,55,545,0806,Maison,93,401
619,306,2024-01-02,80000.0,46,116,B002,Maison,75,1755
618,306,2024-01-02,80000.0,46,116,B002,Dépendance,0,2340
617,306,2024-01-02,80000.0,46,116,B002,Maison,75,2340
616,306,2024-01-02,80000.0,46,116,B002,Dépendance,0,1755
612,306,2024-01-02,80000.0,46,116,B002,NaN,0,2163
614,306,2024-01-02,80000.0,46,116,B002,NaN,0,1540
613,306,2024-01-02,80000.0,46,116,B002,NaN,0,1072

In [36]:
# On remarque ici que tous les types de locaux Nan n'ont pas de surface bati.

transaction_avec_bati[(transaction_avec_bati['Type local'].isna()) & (transaction_avec_bati['Surface reelle bati'] != '0')]

Empty DataFrame
Columns: [Date mutation, Nature mutation, Valeur fonciere, No voie, B/T/Q, Type de voie, Code voie, Voie, Code postal, Commune, Code departement, Code commune, Prefixe de section, Section, No plan, Code type local, Type local, Surface reelle bati, Nombre pieces principales, Nature culture, Nature culture speciale, Surface terrain, id_transaction]
Index: []

In [37]:
# De même por les dépendances qui ne concernent que des surfaces de terrain.
transaction_avec_bati[(transaction_avec_bati['Type local'] == 'Dépendance') & (transaction_avec_bati['Surface reelle bati'] != '0')]

Empty DataFrame
Columns: [Date mutation, Nature mutation, Valeur fonciere, No voie, B/T/Q, Type de voie, Code voie, Voie, Code postal, Commune, Code departement, Code commune, Prefixe de section, Section, No plan, Code type local, Type local, Surface reelle bati, Nombre pieces principales, Nature culture, Nature culture speciale, Surface terrain, id_transaction]
Index: []

In [38]:
# Le prix d'un terrain étant insignifiant dans le prix d'un bien immobilier, nous allons supprimer ces lignes.
filtre1 = transaction_avec_bati['Type local'].isna()
filtre2 = transaction_avec_bati['Type local'] == 'Dépendance'
print(filtre1.sum())
print(filtre2.sum())
filtre = filtre1 | filtre2
print(filtre.sum())
print(len(transaction_avec_bati))
transaction_avec_bati_uniquement = transaction_avec_bati[~filtre]
print(len(transaction_avec_bati_uniquement))

150115
211634
361749
1388042
1026293

In [43]:
transaction_avec_bati_uniquement[['id_transaction', 'Date mutation', 'Valeur fonciere', 'Code departement', 'Code commune', 'Code voie', 'Type local', 'Surface reelle bati', 'Surface terrain']].head(40)

,id_transaction,Date mutation,Valeur fonciere,Code departement,Code commune,Code voie,Type local,Surface reelle bati,Surface terrain
55,48,2024-01-02,500.0,43,100,B106,Maison,70,115
85,73,2024-01-02,1666.0,88,468,0120,Local industriel. commercial ou assimilé,165,0
104,86,2024-01-02,2500.0,03,82,0330,Maison,28,60
176,106,2024-01-02,3334.0,88,468,0120,Local industriel. commercial ou assimilé,235,0
371,194,2024-01-02,25000.0,61,162,0011,Maison,125,108
369,194,2024-01-02,25000.0,61,162,0011,Maison,125,3222
368,195,2024-01-02,25000.0,61,162,0032,Maison,15,3360
374,196,2024-01-02,25000.0,63,338,B038,Appartement,40,0
375,197,2024-01-02,25000.0,88,270,0200,Maison,96,422
381,200,2024-01-02,26580.0,72,154,2430,Appartement,52,0
382,201,2024-01-02,27000.0,73,157,0270,Appartement,35,0
407,207,2024-01-02,30000.0,62,193,0070,Appartement,50,94
405,207,2024-01-02,30000.0,62,193,0070,Appartement,28,94
406,207,2024-01-02,30000.0,62,193,0070,Appartement,22,94
404,207,2024-01-02,30000.0,62,193,0070,Appartement,35,94
402,207,2024-01-02,30000.0,62,193,0070,Appartement,14,94
401,207,2024-01-02,30000.0,62,193,0070,Appartement,11,94
424,211,2024-01-02,31000.0,63,282,0047,Maison,20,0
434,218,2024-01-02,34500.0,88,321,0420,Maison,60,32
436,219,2024-01-02,35000.0,29,232,3830,Appartement,25,0
443,221,2024-01-02,39000.0,31,199,0052,Maison,94,170
444,222,2024-01-02,40000.0,38,124,0670,Maison,35,337
447,225,2024-01-02,40000.0,66,136,1930,Appartement,21,0
449,226,2024-01-02,40000.0,86,165,1350,Maison,390,240
462,233,2024-01-02,46500.0,36,95,B010,Maison,45,410
469,236,2024-01-02,48000.0,34,199,0160,Appartement,29,0
471,238,2024-01-02,49400.0,81,4,0180,Appartement,22,0
472,239,2024-01-02,50000.0,04,5,0008,Maison,29,130
473,240,2024-01-02,50000.0,75,120,4853,Appartement,11,0
476,241,2024-01-02,50000.0,81,303,0010,Maison,80,100
477,241,2024-01-02,50000.0,81,303,0010,Local industriel. commercial ou assimilé,100,100
478,243,2024-01-02,50000.0,89,387,2530,Appartement,65,0
481,244,2024-01-02,51000.0,59,289,0480,Maison,96,81
536,262,2024-01-02,52000.0,45,228,0006,Maison,90,122
538,264,2024-01-02,52500.0,61,169,0560,Appartement,64,0
540,265,2024-01-02,55000.0,18,133,0649,Maison,56,286
541,266,2024-01-02,55000.0,34,145,0380,Local industriel. commercial ou assimilé,55,0
544,268,2024-01-02,55000.0,50,129,2680,Appartement,80,160
545,268,2024-01-02,55000.0,50,129,2680,Appartement,30,160
547,269,2024-01-02,55000.0,56,178,0620,Appartement,32,0

In [44]:
# Tester si on ne garde que les lignes uniques ?
# Car si on prend le risque d'additionner des surfaces, nous ne sommes pas certains que ce n'est pas une mise à jour des données 
# et donc cela fausserait notre dataset

id_transaction_count = transaction_avec_bati_uniquement['id_transaction'].value_counts()
unique_id_transactions_values = id_transaction_count[id_transaction_count == 1].index
unique_id_transactions_list = unique_id_transactions_values.tolist()

df =  transaction_avec_bati_uniquement[transaction_avec_bati_uniquement['id_transaction'].isin(unique_id_transactions_list)]
df_inv = transaction_avec_bati_uniquement[~transaction_avec_bati_uniquement['id_transaction'].isin(unique_id_transactions_list)]

In [ ]:
df_inv.head(100)

In [48]:
print(len(transaction_avec_bati_uniquement))
print(len(df_inv))
print(len(df))

1026293
334309
691984

In [49]:
%whos

Variable                           Type         Data/Info
---------------------------------------------------------
col_to_keep                        list         n=22
df                                 DataFrame            Date mutation Nat<...>691984 rows x 23 columns]
df7                                DataFrame            Date mutation Nat<...>340292 rows x 22 columns]
df8                                DataFrame            Date mutation Nat<...>475349 rows x 22 columns]
df8_sorted                         DataFrame            Date mutation Nat<...>475349 rows x 23 columns]
df_inv                             DataFrame            Date mutation Nat<...>334309 rows x 23 columns]
df_ori                             DataFrame            Identifiant de do<...>458643 rows x 43 columns]
file_path                          str          /Users/cyriljeanneau/Docu<...>ValeursFoncieres-2024.txt
filename                           str          ValeursFoncieres-2024.txt
filtre                             Series       55         False\n85     <...>gth: 1388042, dtype: bool
filtre1                            Series       55         False\n85     <...>gth: 1388042, dtype: bool
filtre2                            Series       55         False\n85     <...>gth: 1388042, dtype: bool
gc                                 module       <module 'gc' (built-in)>
id_surface_bati                    Series       55              48\n85   <...>th: 1024204, dtype: int64
id_surface_bati_list               list         n=1024204
id_transaction_count               Series       id_transaction\n1267686  <...>gth: 823662, dtype: int64
os                                 module       <module 'os' (frozen)>
pd                                 module       <module 'pandas' from '/U<...>ages/pandas/__init__.py'>
transaction_avec_bati              DataFrame            Date mutation Nat<...>388042 rows x 23 columns]
transaction_avec_bati_uniquement   DataFrame            Date mutation Nat<...>026293 rows x 23 columns]
unique_id_transactions_list        list         n=691984
unique_id_transactions_values      Index        Index([782937, 953576, 95<...>nsaction', length=691984)

In [52]:
del  transaction_avec_bati_uniquement, unique_id_transactions_list, unique_id_transactions_values
gc.collect()

3374

In [54]:
# On affiche les transactions présentant + d'une ligne  
# Onconstate effectivement un grand nombre  de doublon de type + surface reelle bati en doublon.
df_inv[['id_transaction', 'Date mutation', 'Valeur fonciere', 'Code departement', 'Code commune', 'Code voie', 'Type local', 'Surface reelle bati', 'Surface terrain']].head(40)

,id_transaction,Date mutation,Valeur fonciere,Code departement,Code commune,Code voie,Type local,Surface reelle bati,Surface terrain
371,194,2024-01-02,25000.0,61,162,0011,Maison,125,108
369,194,2024-01-02,25000.0,61,162,0011,Maison,125,3222
407,207,2024-01-02,30000.0,62,193,0070,Appartement,50,94
405,207,2024-01-02,30000.0,62,193,0070,Appartement,28,94
406,207,2024-01-02,30000.0,62,193,0070,Appartement,22,94
404,207,2024-01-02,30000.0,62,193,0070,Appartement,35,94
402,207,2024-01-02,30000.0,62,193,0070,Appartement,14,94
401,207,2024-01-02,30000.0,62,193,0070,Appartement,11,94
476,241,2024-01-02,50000.0,81,303,0010,Maison,80,100
477,241,2024-01-02,50000.0,81,303,0010,Local industriel. commercial ou assimilé,100,100
544,268,2024-01-02,55000.0,50,129,2680,Appartement,80,160
545,268,2024-01-02,55000.0,50,129,2680,Appartement,30,160
594,293,2024-01-02,69000.0,63,381,0099,Maison,50,3250
596,293,2024-01-02,69000.0,63,381,0099,Maison,50,400
619,306,2024-01-02,80000.0,46,116,B002,Maison,75,1755
617,306,2024-01-02,80000.0,46,116,B002,Maison,75,2340
636,319,2024-01-02,85000.0,50,129,2680,Appartement,30,181
637,319,2024-01-02,85000.0,50,129,2680,Appartement,88,181
639,320,2024-01-02,86000.0,54,395,2240,Appartement,14,0
638,320,2024-01-02,86000.0,54,395,2240,Appartement,23,0
725,357,2024-01-02,100000.0,66,136,0390,Local industriel. commercial ou assimilé,382,207
726,357,2024-01-02,100000.0,66,136,0390,Appartement,68,207
730,360,2024-01-02,100000.0,85,280,0263,Appartement,45,2396
731,360,2024-01-02,100000.0,85,280,0263,Appartement,45,500
742,368,2024-01-02,102000.0,52,269,0220,Appartement,79,0
743,368,2024-01-02,102000.0,52,269,0220,Appartement,64,0
744,369,2024-01-02,102500.0,42,187,0410,Appartement,70,0
745,369,2024-01-02,102500.0,42,187,0410,Appartement,105,0
746,369,2024-01-02,102500.0,42,187,0410,Local industriel. commercial ou assimilé,159,0
749,372,2024-01-02,105000.0,2A,212,B075,Appartement,10,0
750,372,2024-01-02,105000.0,2A,212,B075,Appartement,63,0
756,378,2024-01-02,110000.0,19,66,0055,Maison,86,1289
757,378,2024-01-02,110000.0,19,66,0055,Maison,86,500
758,379,2024-01-02,110000.0,47,169,B019,Maison,91,1000
759,379,2024-01-02,110000.0,47,169,B019,Maison,91,251
760,380,2024-01-02,110000.0,50,379,B006,Maison,86,690
761,380,2024-01-02,110000.0,50,379,B006,Maison,86,1000
806,412,2024-01-02,125000.0,49,228,0200,Local industriel. commercial ou assimilé,80,1450
807,412,2024-01-02,125000.0,49,228,0200,Local industriel. commercial ou assimilé,465,1450
808,412,2024-01-02,125000.0,49,228,0200,Local industriel. commercial ou assimilé,20,1450

In [55]:
# On travaillera sur ce df avec des transaction unique 
df[['id_transaction', 'Date mutation', 'Valeur fonciere', 'Code departement', 'Code commune', 'Code voie', 'Type local', 'Surface reelle bati', 'Surface terrain']].head(40)

,id_transaction,Date mutation,Valeur fonciere,Code departement,Code commune,Code voie,Type local,Surface reelle bati,Surface terrain
55,48,2024-01-02,500.0,43,100,B106,Maison,70,115
85,73,2024-01-02,1666.0,88,468,0120,Local industriel. commercial ou assimilé,165,0
104,86,2024-01-02,2500.0,03,82,0330,Maison,28,60
176,106,2024-01-02,3334.0,88,468,0120,Local industriel. commercial ou assimilé,235,0
368,195,2024-01-02,25000.0,61,162,0032,Maison,15,3360
374,196,2024-01-02,25000.0,63,338,B038,Appartement,40,0
375,197,2024-01-02,25000.0,88,270,0200,Maison,96,422
381,200,2024-01-02,26580.0,72,154,2430,Appartement,52,0
382,201,2024-01-02,27000.0,73,157,0270,Appartement,35,0
424,211,2024-01-02,31000.0,63,282,0047,Maison,20,0
434,218,2024-01-02,34500.0,88,321,0420,Maison,60,32
436,219,2024-01-02,35000.0,29,232,3830,Appartement,25,0
443,221,2024-01-02,39000.0,31,199,0052,Maison,94,170
444,222,2024-01-02,40000.0,38,124,0670,Maison,35,337
447,225,2024-01-02,40000.0,66,136,1930,Appartement,21,0
449,226,2024-01-02,40000.0,86,165,1350,Maison,390,240
462,233,2024-01-02,46500.0,36,95,B010,Maison,45,410
469,236,2024-01-02,48000.0,34,199,0160,Appartement,29,0
471,238,2024-01-02,49400.0,81,4,0180,Appartement,22,0
472,239,2024-01-02,50000.0,04,5,0008,Maison,29,130
473,240,2024-01-02,50000.0,75,120,4853,Appartement,11,0
478,243,2024-01-02,50000.0,89,387,2530,Appartement,65,0
481,244,2024-01-02,51000.0,59,289,0480,Maison,96,81
536,262,2024-01-02,52000.0,45,228,0006,Maison,90,122
538,264,2024-01-02,52500.0,61,169,0560,Appartement,64,0
540,265,2024-01-02,55000.0,18,133,0649,Maison,56,286
541,266,2024-01-02,55000.0,34,145,0380,Local industriel. commercial ou assimilé,55,0
547,269,2024-01-02,55000.0,56,178,0620,Appartement,32,0
552,271,2024-01-02,55000.0,80,406,0395,Maison,105,436
554,273,2024-01-02,56000.0,59,378,0990,Appartement,15,0
555,274,2024-01-02,56310.0,15,14,2090,Appartement,58,0
560,277,2024-01-02,60000.0,47,1,3860,Local industriel. commercial ou assimilé,79,0
562,279,2024-01-02,61100.0,12,200,0050,Appartement,59,0
563,280,2024-01-02,61500.0,19,31,0115,Appartement,49,0
564,281,2024-01-02,62000.0,12,267,B213,Maison,89,257
579,284,2024-01-02,63000.0,79,301,B146,Maison,75,4260
580,285,2024-01-02,63500.0,38,185,3880,Appartement,19,0
581,286,2024-01-02,63750.0,34,3,2165,Appartement,25,0
586,288,2024-01-02,64500.0,29,53,A319,Maison,108,883
588,289,2024-01-02,67000.0,62,427,A034,Appartement,48,0

In [56]:
df.head()

,Date mutation,Nature mutation,Valeur fonciere,No voie,B/T/Q,Type de voie,Code voie,Voie,Code postal,Commune,Code departement,Code commune,Prefixe de section,Section,No plan,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain,id_transaction
55,2024-01-02,Vente,500.0,5113,NaN,NaN,B106,LE PIN,43230,FRUGIERES-LE-PIN,43,100,NaN,AL,272,1,Maison,70,2,S,NaN,115,48
85,2024-01-02,Vente,1666.0,209,NaN,RUE,0120,DES FORTS,88160,LE THILLOT,88,468,NaN,E,208,4,Local industriel. commercial ou assimilé,165,0,NaN,NaN,0,73
104,2024-01-02,Vente,2500.0,26,NaN,RUE,0330,DU DOC ROUX,3600,COMMENTRY,03,82,NaN,AE,281,1,Maison,28,2,S,NaN,60,86
176,2024-01-02,Vente,3334.0,209,NaN,RUE,0120,DES FORTS,88160,LE THILLOT,88,468,NaN,E,208,4,Local industriel. commercial ou assimilé,235,0,NaN,NaN,0,106
368,2024-01-02,Vente,25000.0,62,NaN,IMP,0032,MAUGUE SOURIS,61380,LA FERRIERE AU DOYEN,61,162,NaN,ZN,6,1,Maison,15,1,S,NaN,3360,195

In [59]:
df.drop(columns=['Nature culture','Nature culture speciale'], inplace=True)

In [60]:
df.head()

,Date mutation,Nature mutation,Valeur fonciere,No voie,B/T/Q,Type de voie,Code voie,Voie,Code postal,Commune,Code departement,Code commune,Prefixe de section,Section,No plan,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Surface terrain,id_transaction
55,2024-01-02,Vente,500.0,5113,NaN,NaN,B106,LE PIN,43230,FRUGIERES-LE-PIN,43,100,NaN,AL,272,1,Maison,70,2,115,48
85,2024-01-02,Vente,1666.0,209,NaN,RUE,0120,DES FORTS,88160,LE THILLOT,88,468,NaN,E,208,4,Local industriel. commercial ou assimilé,165,0,0,73
104,2024-01-02,Vente,2500.0,26,NaN,RUE,0330,DU DOC ROUX,3600,COMMENTRY,03,82,NaN,AE,281,1,Maison,28,2,60,86
176,2024-01-02,Vente,3334.0,209,NaN,RUE,0120,DES FORTS,88160,LE THILLOT,88,468,NaN,E,208,4,Local industriel. commercial ou assimilé,235,0,0,106
368,2024-01-02,Vente,25000.0,62,NaN,IMP,0032,MAUGUE SOURIS,61380,LA FERRIERE AU DOYEN,61,162,NaN,ZN,6,1,Maison,15,1,3360,195

In [64]:
output_file = "dvf_2024_cleaned.csv"
file_path = os.path.join(os.getcwd(), "..", "data", "01_DVF", output_file)
print(file_path)
df.to_csv(file_path, index=False, sep=';')

/Users/cyriljeanneau/Documents/02. Professionnel/00. Formation Dev IA/Projets/certificationB1/notebooks/../data/01_DVF/dvf_2024_cleaned.csv

In [65]:
df = pd.read_csv(file_path, sep=';')

In [66]:
df.head()

,Date mutation,Nature mutation,Valeur fonciere,No voie,B/T/Q,Type de voie,Code voie,Voie,Code postal,Commune,Code departement,Code commune,Prefixe de section,Section,No plan,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Surface terrain,id_transaction
0,2024-01-02,Vente,500.0,5113.0,NaN,NaN,B106,LE PIN,43230.0,FRUGIERES-LE-PIN,43,100,NaN,AL,272,1,Maison,70,2,115,48
1,2024-01-02,Vente,1666.0,209.0,NaN,RUE,0120,DES FORTS,88160.0,LE THILLOT,88,468,NaN,E,208,4,Local industriel. commercial ou assimilé,165,0,0,73
2,2024-01-02,Vente,2500.0,26.0,NaN,RUE,0330,DU DOC ROUX,3600.0,COMMENTRY,03,82,NaN,AE,281,1,Maison,28,2,60,86
3,2024-01-02,Vente,3334.0,209.0,NaN,RUE,0120,DES FORTS,88160.0,LE THILLOT,88,468,NaN,E,208,4,Local industriel. commercial ou assimilé,235,0,0,106
4,2024-01-02,Vente,25000.0,62.0,NaN,IMP,0032,MAUGUE SOURIS,61380.0,LA FERRIERE AU DOYEN,61,162,NaN,ZN,6,1,Maison,15,1,3360,195

In [67]:
len(df)

691984

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 691984 entries, 0 to 691983
Data columns (total 21 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Date mutation              691984 non-null  object
 1   Nature mutation            691984 non-null  object
 2   Valeur fonciere            691984 non-null  float64
 3   No voie                    688086 non-null  float64
 4   B/T/Q                      45279 non-null   object
 5   Type de voie               641602 non-null  object
 6   Code voie                  691984 non-null  object
 7   Voie                       691980 non-null  object
 8   Code postal                691939 non-null  float64
 9   Commune                    691984 non-null  object
 10  Code departement           691984 non-null  object
 11  Code commune               691984 non-null  int64
 12  Prefixe de section         31134 non-null   float64
 13  Section                    691946 non-null  object
 14  No plan                    691984 non-null  int64
 15  Code type local            691984 non-null  int64
 16  Type local                 691984 non-null  object
 17  Surface reelle bati        691984 non-null  int64
 18  Nombre pieces principales  691984 non-null  int64
 19  Surface terrain            691984 non-null  int64
 20  id_transaction             691984 non-null  int64
dtypes: float64(4), int64(7), object(10)
memory usage: 110.9+ MB

In [73]:
df.columns.tolist()

['Date mutation',
 'Nature mutation',
 'Valeur fonciere',
 'No voie',
 'B/T/Q',
 'Type de voie',
 'Code voie',
 'Voie',
 'Code postal',
 'Commune',
 'Code departement',
 'Code commune',
 'Prefixe de section',
 'Section',
 'No plan',
 'Code type local',
 'Type local',
 'Surface reelle bati',
 'Nombre pieces principales',
 'Surface terrain',
 'id_transaction']

In [74]:
df.head(40)

,Date mutation,Nature mutation,Valeur fonciere,No voie,B/T/Q,Type de voie,Code voie,Voie,Code postal,Commune,Code departement,Code commune,Prefixe de section,Section,No plan,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Surface terrain,id_transaction
0,2024-01-02,Vente,500.0,5113.0,NaN,NaN,B106,LE PIN,43230.0,FRUGIERES-LE-PIN,43,100,NaN,AL,272,1,Maison,70,2,115,48
1,2024-01-02,Vente,1666.0,209.0,NaN,RUE,0120,DES FORTS,88160.0,LE THILLOT,88,468,NaN,E,208,4,Local industriel. commercial ou assimilé,165,0,0,73
2,2024-01-02,Vente,2500.0,26.0,NaN,RUE,0330,DU DOC ROUX,3600.0,COMMENTRY,03,82,NaN,AE,281,1,Maison,28,2,60,86
3,2024-01-02,Vente,3334.0,209.0,NaN,RUE,0120,DES FORTS,88160.0,LE THILLOT,88,468,NaN,E,208,4,Local industriel. commercial ou assimilé,235,0,0,106
4,2024-01-02,Vente,25000.0,62.0,NaN,IMP,0032,MAUGUE SOURIS,61380.0,LA FERRIERE AU DOYEN,61,162,NaN,ZN,6,1,Maison,15,1,3360,195
5,2024-01-02,Vente,25000.0,18.0,NaN,NaN,B038,CITE DES BRANDES,63700.0,SAINT ELOY LES MINES,63,338,NaN,AN,261,2,Appartement,40,2,0,196
6,2024-01-02,Vente,25000.0,32.0,NaN,RUE,0200,DE LA GRAVIERE,88350.0,LIFFOL-LE-GRAND,88,270,NaN,AD,636,1,Maison,96,3,422,197
7,2024-01-02,Vente,26580.0,12.0,NaN,RUE,2430,DE L HOSPICE,72200.0,LA FLECHE,72,154,NaN,AN,617,2,Appartement,52,2,0,200
8,2024-01-02,Vente,27000.0,25.0,NaN,RUE,0270,JULES FERRY,73500.0,MODANE,73,157,NaN,C,2697,2,Appartement,35,2,0,201
9,2024-01-02,Vente,31000.0,7.0,NaN,RUE,0047,DU TERRAIL,63730.0,PLAUZAT,63,282,NaN,AB,803,1,Maison,20,2,0,211
10,2024-01-02,Vente,34500.0,4.0,NaN,RUE,0420,SAINT JEAN,88300.0,NEUFCHATEAU,88,321,NaN,AB,298,1,Maison,60,3,32,218
11,2024-01-02,Vente,35000.0,10.0,NaN,AV,3830,DE LA LIBERATION,29000.0,QUIMPER,29,232,NaN,BK,121,2,Appartement,25,1,0,219
12,2024-01-02,Vente,39000.0,4.0,NaN,CHEM,0052,DU COUSTIROUN,31440.0,FRONSAC,31,199,NaN,A,808,1,Maison,94,3,170,221
13,2024-01-02,Vente,40000.0,627.0,NaN,RTE,0670,DU TIMON,38630.0,CORBELIN,38,124,NaN,AH,126,1,Maison,35,2,337,222
14,2024-01-02,Vente,40000.0,2.0,NaN,RUE,1930,FRANKLIN,66000.0,PERPIGNAN,66,136,NaN,AN,225,2,Appartement,21,1,0,225
15,2024-01-02,Vente,40000.0,2.0,NaN,RUE,1350,DE LA POELERIE,86500.0,MONTMORILLON,86,165,NaN,AE,111,1,Maison,390,12,240,226
16,2024-01-02,Vente,46500.0,4.0,NaN,NaN,B010,LE BOURDEAU,36160.0,LIGNEROLLES,36,95,NaN,B,213,1,Maison,45,2,410,233
17,2024-01-02,Vente,48000.0,4.0,NaN,RUE,0160,BERANGER,34120.0,PEZENAS,34,199,NaN,BK,144,2,Appartement,29,2,0,236
18,2024-01-02,Vente,49400.0,4.0,NaN,RUE,0180,AUGUSTE VIDAL,81000.0,ALBI,81,4,NaN,BM,831,2,Appartement,22,1,0,238
19,2024-01-02,Vente,50000.0,94.0,NaN,RUE,0008,DE L'EGLISE,4170.0,ALLONS,04,5,NaN,G,414,1,Maison,29,1,130,239
20,2024-01-02,Vente,50000.0,6.0,NaN,RUE,4853,JEAN BAPTISTE DUMAY,75020.0,PARIS 20,75,120,NaN,AD,21,2,Appartement,11,1,0,240
21,2024-01-02,Vente,50000.0,2.0,NaN,GR,2530,GRANDE RUE,89100.0,SENS,89,387,NaN,BP,127,2,Appartement,65,1,0,243
22,2024-01-02,Vente,51000.0,13.0,NaN,RUE,0480,PASTEUR,59294.0,HAUSSY,59,289,NaN,B,1068,1,Maison,96,4,81,244
23,2024-01-02,Vente,52000.0,3.0,NaN,RTE,0006,DE FLOTIN,45340.0,NIBELLE,45,228,NaN,AH,116,1,Maison,90,3,122,262
24,2024-01-02,Vente,52500.0,12.0,NaN,RUE,0560,DES ECOLES,61100.0,FLERS,61,169,NaN,CC,41,2,Appartement,64,3,0,264
25,2024-01-02,Vente,55000.0,12.0,NaN,RUE,0649,VOLTAIRE,18400.0,LUNERY,18,133,NaN,AM,295,1,Maison,56,3,286,265
26,2024-01-02,Vente,55000.0,230.0,NaN,RUE,0380,HENRI REYNAUD,34400.0,LUNEL,34,145,NaN,AV,234,4,Local industriel. commercial ou assimilé,55,0,0,266
27,2024-01-02,Vente,55000.0,28.0,NaN,RUE,0620,GAL DE GAULLE,56300.0,PONTIVY,56,178,NaN,AK,340,2,Appartement,32,1,0,269
28,2024-01-02,Vente,55000.0,6.0,NaN,RUE,0395,LOUIS DENEUX,80490.0,HALLENCOURT,80,406,NaN,AC,180,1,Maison,105,4,436,271
29,2024-01-02,Vente,56000.0,81.0,NaN,AV,0990,GUYNEMER,59700.0,MARCQ EN BAROEUL,59,378,NaN,AX,183,2,Appartement,15,1,0,273
30,2024-01-02,Vente,56310.0,4.0,NaN,AV,2090,DU 4 SEPTEMBRE,15000.0,AURILLAC,15,14,NaN,BI,114,2,Appartement,58,3,0,274
31,2024-01-02,Vente,60000.0,18.0,NaN,RUE,3860,VOLTAIRE,47000.0,AGEN,47,1,NaN,BH,181,4,Local industriel. commercial ou assimilé,79,0,0,277
32,2024-01-02,Vente,61100.0,13.0,NaN,RUE,0050,DE L EGLISE,12640.0,RIVIERE-SUR-TARN,12,200,NaN,AB,265,2,Appartement,59,3,0,279
33,2024-01-02,Vente,61500.0,26.0,NaN,RUE,0115,ALEXIS JAUBERT,19100.0,BRIVE LA GAILLARDE,19,31,NaN,AS,103,2,Appartement,49,2,0,280
34,2024-01-02,Vente,62000.0,5436.0,NaN,NaN,B213,LA ROZIERE HAUTE,12170.0,LA SELVE,12,267,NaN,C,33,1,Maison,89,3,257,281
35,2024-01-02,Vente,63000.0,9.0,NaN,NaN,B146,MOISSAC,79500.0,SAINT-VINCENT-LA-CHATRE,79,301,NaN,ZV,54,1,Maison,75,3,4260,284
36,2024-01-02,Vente,63500.0,78.0,B,AV,3880,JEAN PERROT,38100.0,GRENOBLE,38,185,NaN,DR,140,2,Appartement,19,1,0,285
37,2024-01-02,Vente,63750.0,9.0,NaN,CHE,2165,DU SUCRE,34300.0,AGDE,34,3,NaN,MC,110,2,Appartement,25,2,0,286
38,2024-01-02,Vente,64500.0,1.0,NaN,LOT,A319,DE RANGOURLAY,29590.0,LE FAOU,29,53,NaN,A,491,1,Maison,108,5,883,288
39,2024-01-02,Vente,67000.0,NaN,NaN,RES,A034,DU POMMIER,62110.0,HENIN-BEAUMONT,62,427,NaN,AT,387,2,Appartement,48,2,0,289

In [82]:
df[df['Surface reelle bati'] < 0]

Empty DataFrame
Columns: [Date mutation, Nature mutation, Valeur fonciere, No voie, B/T/Q, Type de voie, Code voie, Voie, Code postal, Commune, Code departement, Code commune, Prefixe de section, Section, No plan, Code type local, Type local, Surface reelle bati, Nombre pieces principales, Surface terrain, id_transaction]
Index: []

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 691984 entries, 0 to 691983
Data columns (total 21 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Date mutation              691984 non-null  object
 1   Nature mutation            691984 non-null  object
 2   Valeur fonciere            691984 non-null  float64
 3   No voie                    688086 non-null  float64
 4   B/T/Q                      45279 non-null   object
 5   Type de voie               641602 non-null  object
 6   Code voie                  691984 non-null  object
 7   Voie                       691980 non-null  object
 8   Code postal                691939 non-null  float64
 9   Commune                    691984 non-null  object
 10  Code departement           691984 non-null  object
 11  Code commune               691984 non-null  int64
 12  Prefixe de section         31134 non-null   float64
 13  Section                    691946 non-null  object
 14  No plan                    691984 non-null  int64
 15  Code type local            691984 non-null  int64
 16  Type local                 691984 non-null  object
 17  Surface reelle bati        691984 non-null  int64
 18  Nombre pieces principales  691984 non-null  int64
 19  Surface terrain            691984 non-null  int64
 20  id_transaction             691984 non-null  int64
dtypes: float64(4), int64(7), object(10)
memory usage: 110.9+ MB

In [84]:
df[df['Code postal'] == '37000']['Valeur fonciere'] / df[df['Code postal'] == '37000']['Surface reelle bati']

Series([], dtype: float64)